h1 {
    text-align: center;
    margin : 0 auto 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    background-color: black;
  }
  #page-header{
    max-width: 90%;
    margin: 0 auto 10px auto
  }
  /* for the title animation */
  #text1{
    color: snow;
    font-size: 90px;
    letter-spacing: 40px;
    animation: text 5s 1;
    position: relative;
  }
  #text2{
    font-size: 70px;
    color: slategray
  }
  /* for the title animation */
  @keyframes text{
    0%{
      color: black;
      margin-bottom: -80px;
    }
    30%{
      letter-spacing: 70px;
      margin-bottom: -80px;

    }
    85%{
      letter-spacing: 40px;
      margin-bottom: -80px;
    }

  }

  .container {
    max-width: 880px;
    padding-top: 7px auto 7px auto;
    margin: 0 auto 0 auto
  } 
  .border {
    max-width: 900px;
    margin: 20px auto 0 auto;
    background-color: black;
  
  }
  .image {
    margin: 7px 7px 7px 7px ;
    opacity: 1;
    width: 48%;
    height: 60%;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .image:hover{
    opacity: 0.4;
  }

  #landscape {
    width: 90%;
    margin-left: 5%;
  }
  