h1 {
    color: slategray;
    text-align: center;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 70px;
    background-color: black;
  }
  #page-header{
    max-width: 1000px;
    margin: 0 auto 0 auto
  }
  .container {
    max-width: 880px;
    padding-top: 7px auto 7px auto;
    margin: 0 auto 0 auto
  } 
  .border {
    max-width: 900px;
    margin: 0 auto 0 auto;
    background-color: black;
  
  }
  .image {
    margin: 7px 7px 7px 7px ;
    opacity: 1;
    width: 48%;
    height: 60%;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .image:hover{
    opacity: 0.4;
  }

  #landscape {
    width: 90%;
    margin-left: 5%;
  }
  